.notification-form.hidden
	.notification-container
		.notification-wrapp
			p.text-left
				|Для улучшения работы сайта и его взаимодействия с пользователями используются файлы cookie и сервис Yandex.Metrica. Продолжая работу с сайтом, Вы выражаете свое согласие на использование Cookie-файлов и на обработку данных сервисом Yandex.Metrica. Вы всегда можете отключить Cookie-файлы в настройках Вашего браузера.
			//-
				br
				|Подробности об обработке ваших данных — в  
				a(href="[~400~]" target="_blank")
					|Правила пользования файлов cookie
				|.
			.notification-button
				button.btn.btn-any(type="button")
					|Закрыть