script(type="text/javascript" src="https://vk.com/js/api/openapi.js?168")
#vk_groups
script(type="text/javascript")
	|let like = document.querySelector("#vk_like");
	|VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, height: 200, width: "auto", color1: "FFFFFF", color2: "000000", color3: "5181B8"}, 196178324);
	|like && VK.Widgets.Like('vk_like');