script(type="text/javascript")
	//- |var Hyphenopoly = {
		|	require: {
		|		ru		: "ru"
		|	},
		|	paths	: {
		|		maindir	: "assets/comon/js/Hyphenopoly/",
		|		patterndir	: "assets/comon/js/Hyphenopoly/patterns/"
		|	},
		|	setup	: {
		|		selectors	: {
		|			".hyphenation"	: {
		|				"minWordLength"	: 1
		|			}
		|		}
		|	}
		|};
	//- |window.HTTP_CLIENT = 0;
		|yepnope('assets/templates/projectsoft/js/appjs.min.js?#{hash}', undefined, function() {
		|	yepnope('assets/templates/projectsoft/js/main.min.js?#{hash}', undefined, function() {
		|		/*yepnope('assets/comon/js/Hyphenopoly/Hyphenopoly_Loader.js', undefined, function() {});*/
		|	})
		|});
script(src="assets/templates/projectsoft/js/appjs.min.js?" + hash)
script(src="assets/templates/projectsoft/js/main.min.js?" + hash)
|[!YandexMetrika!]