<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">{{@FILE assets/templates/projectsoft/tpl/head.html}}
	<body>
		<div class="bodywrapp">{{@FILE assets/templates/projectsoft/tpl/topmenu.html}}
			<div class="section container">
				{{@FILE assets/templates/projectsoft/tpl/top-header.html}}
				{{@FILE assets/templates/projectsoft/tpl/global-menu.html}}
				{{@FILE assets/templates/projectsoft/tpl/slider.html}}
				{{@FILE assets/templates/projectsoft/tpl/director.html}}
				<div id="page">
					<div class="row">
						<div class="container-fluid content hyphenation bvi-tts">{{widget}}
							<div class="h1"></div>[*content*]
						</div>
					</div>[[DocLister?
					  &parents=`2,15,157,170,264`
					  &display=`5`
					  &tvList=`imageSoc, news_date`
					  &tvPrefix=``
					  &orderBy=`news_date DESC`
					  &sortBy=`news_date`
					  &sortDir=`DESC`
					  &tvSortType=`TVDATETIME`
					  &prepare=`\ProjectSoft\PrepareDL::prepareItem`
					  &noneTPL=`@CODE:<span></span>`
					  &ownerTPL=`@FILE:projectsoft/tpl/home_news`
					  &tpl=`@FILE:projectsoft/tpl/news_tpl`
					  &showParent=`0`
					  &urlScheme=`full`
						&noneWrapOuter=`0`
					]]
				</div>{{@FILE assets/templates/projectsoft/tpl/univers.html}}
				{{@FILE assets/templates/projectsoft/tpl/sites-link.html}}
				{{@FILE assets/templates/projectsoft/tpl/sendbot.html}}
			</div>{{@FILE assets/templates/projectsoft/tpl/footer.html}}
		</div>{{@FILE assets/templates/projectsoft/tpl/yepnope.html}}
		{{@FILE assets/templates/projectsoft/tpl/yepnope-load.html}}
		<script src="https://pos.gosuslugi.ru/bin/script.min.js"></script>
		<link type="text/css" rel="stylesheet" href="[~423~]?db81358af9a7d1f5e0dd9c7f15ee67d3">
		<script src="[~424~]?db81358af9a7d1f5e0dd9c7f15ee67d3"></script>
		<script>Widget("https://pos.gosuslugi.ru/form", 299239)</script>
	</body>
</html>